/* Split the screen in half */
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  /* Control the left side */
  .left {
    left: 0;
    background-color: black;
    color: white;
  }
  
  /* Control the right side */
  .right {
    right: 0;
    background-color: white;
  }

.w {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    padding: 5px;
}

.w.selected {
    background-color: yellow;
}

#stage .w.selected {
    background-color: blueviolet;
}

.stage {
  min-height:100px;
  border: 1px solid white;
}