body {
  height: 100%;
}

::selection,
#transcript .w.selected {
  background-color: yellow;
  color: black;
}


h6.label {
  position: absolute;
  top:0px;
  text-align: center;
}

#transcript {
  background-color: white;
  color: black;
  overflow-y: auto;
  overflow-x: hidden;
}

#wordInfo table tr,
#wordInfo .card__header {
  cursor: pointer;
}

#stageChooser {
  width: 80px;
}

#transcript .w.ph {
  border-bottom: 1px dashed gray;
}

#stages .stage .words {
  height: 200px;
  overflow-x: auto;
  overflow-y: hidden;
}

#stages .stage .words .w {
  background-color: white;
  color: black;
  padding: 3px;
  margin: 5px;
}

body.expanded #enableVideo,
body.expanded #uploadSequencers,
body.expanded #downloadSequencers {
  display: block;
}

body #enableVideo,
body #uploadSequencers,
body #downloadSequencers {
  display: none;
}

body.expanded #stages .stage .form-group button {
  display: block;
}

body #stages .stage .form-group button {
  display: none;
}


#video-1 {
  position: absolute;
  left: 5%;
  top: 5%;
  width: 50%;
  height: 50%;
  /*background-color: brown;*/
  z-Index: 10;
}

#video-2 {
  position: absolute;
  left: 45%;
  top: 45%;
  width: 50%;
  height: 50%;
  /*background-color: blue;*/
  z-Index: 11;
}

#video-3 {
  position: absolute;
  left: 65%;
  top: 15%;
  width: 25%;
  height: 25%;
  /*background-color: green;*/
  z-Index: 10;
}

#video-1.enabled, 
#video-2.enabled, 
#video-3.enabled {
  background-color: black;
  display: block;
}

.stage .w {
  opacity: .5;
}

.stage .w.loaded {
  opacity: 1;
}

.stage .w.v-loaded {
  border-bottom: 1px solid yellow;
}

#sendButton,
#selectAllButton,
#enableVideo,
#reload
 {
  z-index:5;
}

.hiddenFileInput > input{
  height: 100%;
  width: 100;
  opacity: 0;
  cursor: pointer;
}
.hiddenFileInput{
  border: 1px solid #ccc;
  width: 100px;
  height: 100px;
  display: inline-block;
  overflow: hidden;
  cursor: pointer;