body {
  height: 100%;
}

#transcript {
  background-color: white;
  color: black;
  overflow-y: auto;
  overflow-x: hidden;
}

#wordInfo table tr {
  cursor: pointer;
}

#stageChooser {
  width: 80px;
}

#transcript .w.selected {
    background-color: yellow;
    color: black;
}

#stages .stage .words {
  height: 200px;
  overflow-x: auto;
  overflow-y: hidden;
}

#stages .stage .words .w {
  background-color: white;
  color: black;
  padding: 3px;
  margin: 5px;
}

.stage .w.selected {
    /* background-color: blueviolet; */
}

.stage .w {
  opacity: .5;
}

.stage .w.loaded {
  opacity: 1;
}


.stage .interval, .stage .offset {
  width:30px;
}

